#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0x0L
#endif
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Daniel Alfredsson"
            VALUE "FileDescription",  "Paster++ remote console paste utility"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "Paster-plus-plus"
            VALUE "LegalCopyright",   "Copyright (C) 2021 Daniel Alfredsson"
            VALUE "OriginalFilename", "Paster-plus-plus.exe"
            VALUE "ProductName",      "Paster++"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
